@charset "UTF-8";
@font-face {
    font-family: 'fonte-patuaone';
    src: url("../fontes/PatuaOne-Regular.otf");
}
@font-face {
    font-family: 'fonte-righteous';
    src: url("../fontes/Righteous-Regular.ttf");
}
@font-face {
    font-family: 'fonte-chelaone';
    src: url("../fontes/ChelaOne-Regular.ttf");
}

/*Mudanças gerais*/
:root {
    --main-bg-backup: #e4bd7a;
    --main-bg-color: #e5e5e5;
    --success: rgb(60, 190, 60);
    --failure: rgb(210, 60, 60);
    --header-bg-backup: #3d2612;
    --header-bg-color: #252525;
}

* {
    outline: none;
}

body { 
    margin: 0px;
    font-family: monospace, sans-serif;
    background-color: var(--main-bg-color);
}

body::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: #c4c4c4;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    transition: all 0.5s;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #222;
    cursor: grab;
}

input:focus{ outline: none; }

/*Classes*/

.display-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.div-tabela-flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.mensagem-container {
    color: #f6f6f6;
    position: fixed;
    width: auto;
    top: 20px;
    right: 15px;
    padding: 20px;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
    animation: show-over 4s ease-out;
}

.mensagem-header {
    padding: 0px 4px 4px 4px;
    border-bottom: 1px solid #f6f6f6;
}

.mensagem-header h3 {
    margin: 0;
}

.mensagem-body {
    margin-top: 8px;
}

.mensagem-body p {
    margin: 0;
}

.success {
    background-color: var(--success);   
}

.failure {
    background-color: var(--failure);
}

/*Mudanças especificas*/
#cabecalho {
    background-color: var(--header-bg-color);
    margin-top: -21px;
    padding: 8px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
    color: var(--main-bg-color);
}

#titulo {
    margin-bottom: 2px;
    margin-left: 35px;
    font-size: 25pt;
    font-family: fonte-patuaone, monospace;
}

#cabecalho h3 {
    margin-top: 0px;
    margin-left: 10px;
    font-size: 15pt;
    font-family: fonte-patuaone, monospace;
}

#titulo::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 13px;
    transform: rotate(45deg);
    background-color: var(--main-bg-color);
    border-radius: 2px;
}

#conteudo {
    width: 90vw;
    margin: auto;
    margin-top: 4vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 300px;
    
}

#conteudo:not(.main) {
    width: 93vw;
    background-color: rgba(50, 50, 50, 0.18);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

#footer-message {
    border-bottom: 2px solid var(--main-bg-color);
    width: 90%;
    margin-bottom: 10px;
    padding: 5px;
}

#footer-message h2 {
    margin: auto;
    color: var(--main-bg-color);
    font-size: 5vh;
    font-style: italic;
    font-family: fonte-chelaone, monospace;
}

#back-menu {
    background-color: var(--header-bg-color);
    margin: auto;
    margin-top: 8vh;
    padding: 1vw;
    box-shadow: 1px -1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

#back-menu a {
    text-decoration: none;
    width: 10vw;
    color: var(--main-bg-color);
    font-family: fonte-righteous, monospace;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 500;
    border: 2px solid var(--main-bg-color);
    border-radius: 10px;
    margin: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    padding: 2vh;
    transition: all 0.3s ease;
}

#back-menu a:hover {
    background-color: var(--main-bg-color);
    color: var(--header-bg-color);
}

/* Animações */
@keyframes show-over {
    0% {
        transform: translateX(120%);
    }
    10% {
        transform: translateX(0px);
    }
    90% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(120%);
    }
}

/*Media adjusts*/
@media screen and (max-width: 500px) {
    #conteudo { margin-top: 5vh; width: 55vw; }
    
    #back-menu a { width: 28vw; font-size: 5vw; }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
    #back-menu a { width: 13vw; font-size: 2.3vh; }
}
